/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {

}

bookmarkDiv {
}

a{
   /* color: grey; */
   color: #CC6600;
   font-size: 90%;

}

a:hover{
   text-decoration: none;
   color: #CC3300;
}


.bookmarkURL{
   font-size: 80%;
   color: #484848;
   background-color: lightgrey;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 25px;
}


h4{
   padding: 0px;
   text-decoration: underline;
}


.highlight {
   background-color: #f4e0cc;
   border-color: #663300;
   border-style: solid;
   border-width: 1px;
}



.col-lg-4
{
   border-width: 1px;
   border-style: solid;
   border-color: lightgrey;
   margin-bottom: 2px;
   padding-bottom:5px;

}
