/*
 * Style tweaks
 *
 * http://www.color-hex.com/color/cc6600
 *
 * Used colors:
 *
 * main-orange:            #CC6600;

 * dark-orange:            #CC3300;
 * related brown:          #663300;
 * related light orange:   #f4e0cc;
 *
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {

}

/* Links */
a{
   color: #CC6600;
   font-size: 90%;
}
a:hover{
   text-decoration: none;
   color: #CC3300;
}



/* Main-content - Bookmarks */
/* */
bookmarkDiv {
}

.col-lg-4
{
   border-width: 1px;
   border-style: solid;
   border-color: lightgrey;
   margin-bottom: 2px;
   padding-bottom:5px;

}

h4{
   padding: 0px;
   text-decoration: underline;
}

.bookmarkURL{
   font-size: 80%;
   color: #484848;
   background-color: lightgrey;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 25px;
}


/* Highlighted Text */
.highlight {
   background-color: #f4e0cc;
   border-color: #663300;
   border-style: solid;
   border-width: 1px;
}



/* Search */
/* Filter-Icon on the right side of search-field */
#filtersubmit {
  position: relative;
  z-index: 1;
  left: -50px;
  top: 1px;
  color: #7B7B7B;
  cursor: pointer;
  width: 0;
}

input{
   text-align:center;
}




/* UNSORTED */
u{
   text-decoration:underline;
}





#bookmarkDataTable{
	background-color: #f4e0cc;
}
